<section class="content error-page">
    <div class="box">
        <div class="box-body">
            <div class="error-body">
                <div class="error-content">
                    <h2 class="headline"> 400 Bad Request </h2>
                    <p>Never send a machine to do a human's job<br> Request aborted.</p>
                    <div class="text-center">
                        <a href="./" class="btn">Reload</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>